<%- include('../header.ejs', { user }) %>
<body>
  <h1>Blog Comments</h1>
  <ul>
    <% comments.forEach(comment => { %>
      <li><a href="/comments/<%= comment.id %>"><%= comment.content %></a></li>
    <% }); %>
  </ul>
  <a href="/createComment">Create New Comment</a>
  <a href="/">Back to Home</a>
  <a href="/posts">Back to Posts</a>
<%- include('../footer.ejs') %>