<%- include('../header.ejs', { user }) %>
<div class="create_blog">
    <h1>Create New Comment</h1>
</div>
<div>
    <form action="/comments" method="post">
        <label for="content">Content:</label>
        <textarea id="content" name="content"></textarea>
        <button type="submit">Create Comment</button>
    </form>
</div>
<a href="/comments">Back to Comments</a>
<a href="/">Back to Home</a>
<%- include('../footer.ejs') %>