<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Soliloquy</title>
</head>
<body>
	<div class="navbar">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<% if(user){ %>		
					<li><a href="/users/profile">Profile</a></li>
					<li><a href="/users/logout">Logout</a></li>
					<li><a href="/gifs">Gifs</a></li>
				<% } else { %> 
					<li><a href="/users/new">Sign Up</a></li>
					<li><a href="/users/login">Login</a></li>
				<% } %>
			</ul>
		</nav>
	</div>