<%- include('../header.ejs', { user }) %>
<div class="create_blog">
    <h1>Gif Page</h1>
</div>
<div>
    <ul>
        <% gifs.forEach(gif => { %>
          <img src="<%= gif.url %>"></img>
        <% }); %>
      </ul>
</div>
<a href="/">Back to Home</a>
<%- include('../footer.ejs') %>