<%- include('../header.ejs', { user }) %>

<% if (message) { %>
	<p><%= message %></p>
<% } %>

<form action="/users/login" method="POST">
	<label for="email">Email:</label>
	<input type="email" name="email" id="email">

	<label for="password">Password:</label>
	<input type="password" name="password" id="password">

	<button type="submit">Login</button>
</form>

<%- include('../footer.ejs') %>